.root {
    -fx-background-color: #222;
    -fx-background-radius: 28;
}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    -fx-background-radius: 15 15 25 25;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 5, 5, 0.0, 0.0);
}

.mainPane2 {
    -fx-background-color: linear-gradient(to bottom, #FF7F50, #6A5ACD);
    -fx-background-radius: 10 10 10 10;
}
.topBar {
    -fx-background-color: linear-gradient(to bottom, #000000, #000000);
    -fx-background-radius: 10 10 10 10;
}

.table{   
    -fx-background-radius: 15;
}

.test{
    -fx-background-color: linear-gradient(to bottom right, #575757,#292929);
    -fx-background-radius: 10 10 10 10;
}


.op{   
 -fx-background-color: rgba(0, 50, 100, 0.1);
 -fx-background-radius: 10;
}
